.authContainer {
    display: flex;
    align-items: center;
  }
  
  .profileImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .walletAddress {
    font-size: 14px;
    color: #333;
    margin-right: 10px;
  }
  
  .signOutButton, .loginButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signOutButton:hover, .loginButton:hover {
    background-color: #0056b3;
  }
  
  .signOutButton:disabled, .loginButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  