/* Blap.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  min-height: 100vh;
  background: linear-gradient(135deg, #1e1e1e, #3a3a3a);
  padding: 20px;
  box-sizing: border-box;
  color: white;

}

.swapContainer {
  background: #2c2c2c;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 50vw;
}

.swap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.swapInputSourceContainer, .swapInputDestinationContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.swapInputDropdownContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: relative;
}

.swapSectionInputSourceChain, .swapSectionInputSourceToken, .swapInputDestinationChain, .swapInputDestinationToken {
  flex: 1;
  background: #3a3a3a;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #bbb;
}

.searchInput {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #555;
  border-radius: 8px;
  font-size: 14px;
  color: #ddd;
  background: #3a3a3a;
  transition: border 0.3s ease;
}

.searchInput:focus {
  border-color: #7a7a7a;
  outline: none;
}

.dropdown {
  position: absolute;
  top: 60px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background: #3a3a3a;
  border: 1px solid #555;
  border-radius: 8px;
  z-index: 1000;
}

.dropdownItem {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdownItem:hover {
  background: #4a4a4a;
}

.swapInputAmountContainer {
  display: flex;
  align-items: center;
}

.swapInputAmount {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #555;
  border-radius: 8px;
  font-size: 16px;
  color: #ddd;
  background: #3a3a3a;
  transition: border 0.3s ease;
}

.swapInputAmount:focus {
  border-color: #7a7a7a;
  outline: none;
}

.swapAction {
  background: #4a90e2;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.swapAction:hover {
  background: #357ABD;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
