.message-bubble {
    position: fixed;
    bottom: 10%;
    right: 5%;
    width: 20vw;
    height: 10vh;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    padding: 10px;
    z-index: 99999;
    display: flex;
    flex-direction: column;
}

.close-button {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.message-content {
    max-height: 100%;
    overflow-y: auto;
}

.message-item {
    margin-bottom: 5px;
}
