.container {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -999;
    white-space: pre-wrap;
    /* To respect newline characters */
    background-color: #111;
    /* Optional background color for visibility */
    /* Optional text color */
    font-family: monospace;
    /* ASCII art looks better with a monospace font */
    text-align: center;
    overflow: hidden;
    display: flex;
    /* Use flexbox to center the content */
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
}

.pre {
    font-family: monospace;
    color: #008F11;
}

.titleContainer{
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 7rem;
    font-weight: bolder;
    margin: 0;
    color: white;
}

.blintButton {
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    width: 15vw;
    height: 6vh;
    background-color: #00FF41;
    border: #111 5px solid;
    border-radius: 27.5px;
    font-size: medium;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    box-shadow: 0 0 10px #000;
}

.blintButton:hover {
    background-color: #003B00;
    cursor: pointer;
}

Link {
    text-decoration: none;
    color: white;
}