.container {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  height: fit-content;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.homeBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.centerImage {
  margin-top: 5vh;
  width: 20vw;
  height: auto;
  margin-bottom: 1rem;
}

.centerText {
  font-size: 1.5rem;
  font-weight: 800;
  color: black;
  text-align: center;
}

.topleft {
  position: fixed;
  top: 5vh;
  left: 3vw;
  display: flex;
  align-items: center;
}

.topleftImage {
  height: 2rem;
  padding-bottom: .5rem;
}

.topleftText {
  font-size: 2rem;
  font-weight: 800;
  color: black;
}

.topRight {
  position: fixed;
  top: 5vh;
  right: 3vw;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: fit-content;
}

.topRightText {
  font-size: 1.25rem;
  color: black;
  margin-bottom: .75rem;
}

.bottomLeft {
  position: fixed;
  bottom: 5vh;
  left: 3vw;
  font-size: 1.25rem;
  font-weight: 400;
  color: black;
}

.bottomRight {
  position: fixed;
  bottom: 5vh;
  right: 3vw;
}

.actionButton {
  margin-top: 65vh;
  align-items: center;
  appearance: none;
  background-color: #222;
  border-radius: 15px;
  border: black 3px solid;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: black;
  background: white;
  cursor: pointer;
  display: inline-flex;
  font-family: "Chakra Petch",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  font-weight: bold;
  width: 15vw;
}

.actionButton:focus, .chainSelect:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.actionButton:hover, .chainSelect:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.actionButton:active, .chainSelect:active{
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

