.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 1rem;
  background-color: #fff; /* Change background to white */
  color: #000; /* Change text color to black */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid #ccc; /* Add a bottom border */
  height: 7vh;
  box-sizing: border-box;
}

.navbarLinkTag {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  height: 100%; /* Ensures it spans the full height of the navbar */
  flex-direction: row;
  text-decoration: none;
  color: #000;
}

.navbarLogo {
  display: flex;
  align-items: center;
  height: 100%; /* Ensures it spans the full height of the navbar */
  flex-direction: row;
  text-decoration: none;
  color: #000;
}

.logoText {
  font-size: 1.5rem; /* Adjust font size */
  font-family: 'Chakra Petch', sans-serif; /* Change to a similar font */
  text-transform: uppercase; /* Make text uppercase */
  color: #000; /* Change text color to black */
  font-weight: bold; /* Add bold font weight */
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logoImage {
  height: 40px; /* Adjust size as needed */
  margin-right: 1rem; /* Space between logo and text */
}

.navbarLinks {
  display: flex;
  align-items: center;
  gap: 2rem; /* Adjust space between links */
}

.navbarLinks a {
  text-decoration: none;
  color: #000; 
  font-size: 1.2rem;
  font-family: 'Chakra Petch', sans-serif; 
  text-transform: uppercase; 
}

.navbarLinks a:hover {
  text-decoration: underline;
}

.logoLink {
  width: auto;
  height: 3vh;
}

.profileContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.profileImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.walletAddress {
  font-size: 14px;
  color: #333;
}
