.container {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    height: fit-content;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding-top: 7vh;
    box-sizing: content-box;
  }

  .profileTop {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  
  .profilePicture {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
  }
  
  .profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  .editIcon {
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .profileName {
    margin-bottom: 3vh;
    font-size: 2rem;
    font-weight: 800;
  }

  .profileField {
    margin-bottom: 3vh;
  }
  
  .editPanel {
    position: fixed;
    top: 7vh;
    left: 100%;
    width: 100%;
    height: 93vh;
    background-color: white;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
  }
  
  .editPanel.open {
    left: 0;
  }
  
  .editContent {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .nftData {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3vh;
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  
  .chainSection {
    width: 100vw;
  }
  
.chainLabel {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    background: white;
    border: black 2px solid;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}
  
  .nftGrid {
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 5vh;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .closeButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .closeButton:hover {
    background-color: #0056b3;
  }
  
  .dropdown {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  .dropdownOption {
    display: flex;
    align-items: center;
  }
  
  .optionContent {
    display: flex;
    align-items: center;
  }
  
  .nftOptionImage {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 5px;
  }
  .actionButton {
    align-items: center;
    appearance: none;
    background-color: #222;
    border-radius: 15px;
    border: black 3px solid;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: black;
    background: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "Chakra Petch",monospace;
    height: 4vh;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 1rem;
    font-weight: bold;
    width: 10vw;
  }
  
  .actionButton:focus, .chainSelect:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .actionButton:hover, .chainSelect:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .actionButton:active, .chainSelect:active{
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

  .divider {
    width: 90vw;
    height: 1px;
    background-color: #ccc;
    margin-top: 4vh;
    margin-bottom: 4vh;
    border-radius: 5px;
  }